
# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=my_database

# Google Drive Folder ID
DRIVE_FOLDER_ID=your_drive_folder_id_here

# Application Port
PORT=8080

# Google Service Account JSON Path
AUTH_JSON_PATH=./secrets/service-account.json # secrets folder is in .gitignore

# GROQ API Endpoint
GROQ_API_KEY=your_groq_api_key_here